@layer utilities {
    .animate-shimmer {
        animation: shimmer 8s linear infinite;
    }

    .animate-pulse-slow {
        animation: pulse 4s cubic-bezier(0.4, 0, 0.6, 1) infinite;
    }
}

@keyframes shimmer {
    0%,
    100% {
        opacity: 0.3;
        transform: translateX(-100%);
    }
    50% {
        opacity: 0.7;
        transform: translateX(100%);
    }
}
@layer utilities {
    .animate-shimmer {
        animation: shimmer 8s linear infinite;
    }

    .animate-pulse-slow {
        animation: pulse 4s cubic-bezier(0.4, 0, 0.6, 1) infinite;
    }
}

@keyframes shimmer {
    0%,
    100% {
        opacity: 0.3;
        transform: translateX(-100%);
    }
    50% {
        opacity: 0.7;
        transform: translateX(100%);
    }
}
